.vscode
env/
*.pyc
.DS_Store
__pycache__/
*.egg-info/
log.txt
manifest.json
config.cfg
extension/package*

DEBUG_FLAG
BATCH_FLAG

speechV.bat                                                                                                                                             
speechV.reg    
credentials.bat
