.vscode
env/
*.pyc
.DS_Store
__pycache__/
*.egg-info/
log.txt
manifest.json
DEBUG_FLAG

speechV.bat                                                                                                                                             
speechV.reg    
credentials.bat
