<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>SpeechV Help</title>
</head>

<body id="Top">
    <h1 style="font-size: 2em">SpeechV Help</h1>
    <p>This is a complete list of commands in SpeechV. You can say "up" or "down" to scroll, or use the links below. To use
        the links, say "follow" to assign a label to each link, then say the corresponding label. Say "top" to return to
        the top of the page.</p>
    <!-- Links for jumping around the page -->
    <div class="contents">
        <a href="#Recipes">Recipes</a>
        <div class="subcontents">
            <a href="#WebBrowsing">Web browsing</a>
            <a href="#WordProcessing">Word Processing</a>
        </div>
        <a href="#CommandList">Full list of commands</a>
        <div class="subcontents">
            <a href="#windows">Windows commands</a>
            <a href="#firefox">Firefox commands</a>
        </div>
    </div>
    <!-- Defines one task -->
    <h1 style="font-size: 24px" id="Recipes">Recipes</h1>
    {% for domain in domains %}
    <h2 style="font-size: 22px">{{domain.category}}</h2>
    <div class="recipe-set">
        {% for recipe in domain['recipes'] %}
        <h1>Task: {{ recipe.task }}</h1>
        {% for step in recipe.steps %}
        <div class="recipe-step">
            <div class="number">{{loop.index}}.</div>
            <div class="r-descript">
                <code>{{ step.command }}</code>
                <div class="r-text">
                    {{step.description}}
                </div>
            </div>
            {% if 'reference' in step %}
            <img src="{{step.reference}}" /> {% endif %}
        </div>
        <br />
        <br /> {% endfor %} {% endfor %}
    </div>
    {% endfor %}

    <h1 style="font-size: 24px" id="CommandList">Full list of commands</h1>
    <div class="subpage">
        <h1 id="windows">Windows</h1>
        <p>These commands can be used in any application in Navigate mode.</p>
        <table>
            <tr>
                <th>Command</th>
                <th>Description</th>
                <tr>
                    <td class="command">Focus &lt;application&gt;</td>
                    <td class="desc">Switch focus to the application
                        <br>Note: The application must be open</td>
                </tr>
                <tr>
                    <td class="command">Launch &lt;application&gt;</td>
                    <td class="desc">Launch the application
                        <br> Note: "Firefox" and "Word" are officially supported</td>
                </tr>
                <tr>
                    <td class="command">Terminate</td>
                    <td class="desc">Close the current application without saving or confirming</td>
                </tr>
                <tr>
                    <td class="command">Move</td>
                    <td class="desc">Move the SpeechV window to the opposite corner</td>
                </tr>
                <tr>
                    <td class="command">Resize left/right</td>
                    <td class="desc">Move the current application into the left/right half of the screen</td>
                </tr>
                <tr>
                    <td class="command">Resize up/down</td>
                    <td class="desc">Move the current application into the top/bottom half of the screen</td>
                </tr>
                <tr>
                    <td class="command">Resize full</td>
                    <td class="desc">Make the current application fullscreen</td>
                </tr>
        </table>
        <br>
        <a href="#Top">Return to top</a>
    </div>
    <div class="subpage">
        <h1 id="firefox">Firefox</h1>
        <p>These commands can be used in Firefox when you are in Navigate mode.</p>
        <table>
            <tr>
                <th>Command</th>
                <th>Description</th>
                <tr>
                    <td class="command">Follow</td>
                    <td class="desc">Label links and input fields, then open matching link in current tab</td>
                </tr>
                <tr>
                    <td class="command">Open</td>
                    <td class="desc">Label links and input fields, then open matching link in new tab</td>
                </tr>
                <tr>
                    <td class="command">Up/Down</td>
                    <td class="desc">Scroll vertically</td>
                </tr>
                <tr>
                    <td class="command">Page up/down</td>
                    <td class="desc">Scroll vertically by a screen</td>
                </tr>
                <tr>
                    <td class="command">Left/right</td>
                    <td class="desc">Scroll horizontally</td>
                </tr>
                <tr>
                    <td class="command">Top/bottom</td>
                    <td class="desc">Scroll to top/bottom of the page</td>
                </tr>
                <tr>
                    <td class="command">Leftmost/rightmost</td>
                    <td class="desc">Scroll to leftmost/rightmost</td>
                </tr>
                <tr>
                    <td class="command">Zoom in/out</td>
                    <td class="desc">Zoom in/out</td>
                </tr>
                <tr>
                    <td class="command">Zoom default</td>
                    <td class="desc">Set default zoom</td>
                </tr>
                <tr>
                    <td class="command">Close tab</td>
                    <td class="desc">Close tab</td>
                </tr>
                <tr>
                    <td class="command">Reopen tab</td>
                    <td class="desc">Reopen recently closed tab</td>
                </tr>
                <tr>
                    <td class="command">Tab left/right</td>
                    <td class="desc">Select left/right tab</td>
                </tr>
                <tr>
                    <td class="command">Back/forward</td>
                    <td class="desc">Go back/forward in history</td>
                </tr>
                <tr>
                    <td class="command">Refresh</td>
                    <td class="desc">Reload current tab</td>
                </tr>
                <tr>
                    <td class="command">Find</td>
                    <td class="desc">Search for text on page</td>
                </tr>
                <tr>
                    <td class="command">Find next</td>
                    <td class="desc">Search for text on page</td>
                </tr>
                <tr>
                    <td class="command">Find previous</td>
                    <td class="desc">Search for text on page</td>
                </tr>
                <tr>
                    <td class="command">New tab</td>
                    <td class="desc">Open a new tab</td>
                </tr>
                <tr>
                    <td class="command">Save bookmark</td>
                    <td class="desc">Open a new window</td>
                </tr>
                <tr>
                    <td class="command">Show bookmarks</td>
                    <td class="desc">Open a new window</td>
                </tr>
                <tr>
                    <td class="command">Search</td>
                    <td class="desc">Open a new window</td>
                </tr>
        </table>
        <br>
        <a href="#Top">Return to top</a>
    </div>
</body>

</html>