body {
    font-family: "Helvetica Neue", "Arial";
    padding: 10px 50px;
    font-size: 18px;
    background-color: #E8EBEE;
    color: #484A4B;
}

.contents {
    margin-bottom: 30px;
}

.subcontents {
    padding-left: 30px;
}

.subpage {
    width:100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

table {
    flex-basis: 1000px;
}

h1, h2 {
    font-size: 18px;
    margin: 10px 0px;
}

.subpage > p {
    margin: 0px 0px 10px 0px;
}

th, td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 2px;
}

.command {
    width: 20%;
}

a {
    display: block;
    margin: 5px 0px;
    color: #71787D;
}



.recipe-set {
    width:100%;
    font-size: 18px;
    margin: 20px 0px;
}

.recipe-step > img {
    width: 250px;
    height: 180px;
}

.r-descript {
    flex-basis: 1000px;
}

.number {
    flex-basis: 50px;
}

.recipe-step {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

code {
    background-color: #484A4B;
    border-radius: 3px;
    padding: 3px;
    font-family: "Andale Mono",Courier,monospace;
    color: #F8EE18;
}

.r-text {
    margin-top: 10px;
}